/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-card {
  background: #ff6e7f;
  background: linear-gradient(
    180deg,
    rgba(255, 110, 127, 1) 0%,
    rgba(191, 233, 255, 1) 100%
  );
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 420px;
}

.heading {
  font-family: 'Roboto';
  font-size: 42px;
  color: #0f172a;
}

.count-odd-even {
  font-family: 'Roboto';
  font-size: 22px;
  color: #334155;
}

.description {
  font-family: 'Roboto';
  font-size: 13px;
  color: #334155;
}

.button-style {
  font-family: 'Roboto';
  font-size: 13px;
  color: #1e293b;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
}
